* {
    margin: 0;
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 10px;
    right: 10px;
    max-height: 100%;
    overflow-y: auto;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: #191919;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}

#texto-info {
    margin-top: 10px;
}

#close-modal-button {
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    position: fixed;
    right: 16px;
    top: 16px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.041);
    font-size: 20px;
    color: white;
}

#close-modal-button:hover {
    cursor: pointer;
}

.div-informacoes > div {
    margin-bottom: 1rem;
}

.div-informacoes > div > h5 {
    margin-top: 0.2rem;
}

.div-informacoes > h1 {
    text-align: center;
}

.controles {
    display: flex;
    align-items: center;
}


#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #020202;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.modal-button {
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.030);
    font-size: 20px;
    color: white;
}

.modal-button:hover {
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}